<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Quizer - HomePage</title>
</head>

<body>
    <div style="min-height: 73vh;">
        <div class="h1 my-3 d-flex justify-content-center">Login</div>
        <div class="container text-center">
            <form method="post">
                <div class="mb-3 row d-flex justify-content-center">
                    <div class="col-2">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    </div>
                    <div class="col-6">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com" name="email" required>
                    </div>
                </div>
                <div class="row g-3 d-flex justify-content-center">
                    <div class="col-2">
                        <label for="inputPassword6" class="col-form-label">Password</label>
                    </div>
                    <div class="col-6">
                        <input type="password" id="inputPassword6" name="password" class="form-control"
                            aria-labelledby="passwordHelpInline" required>
                    </div>
                    <div class="col-6">
                        <span id="passwordHelpInline" class="form-text">
                            Must be 8-20 characters long.
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

    </div>
    </div>
</body>

</html>