<html lang="en">
<body>
  <div class="row mb-0 mx-0">
    <div class="col-6">
      <div class="ms-5">
        <h1>Quizer</h1>
        <p>An interesting website made by DevTeam for people
          <br />
          to create, join quiz,... and many things else.
          <br />
          © 2023 Quizer Inc.
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="ms-3">
        <h4>Subject</h4>
        <a class="text-decoration-none text-dark" href="#">Mathematics</a><br />
        <a class="text-decoration-none text-dark" href="#">Science</a><br />
        <a class="text-decoration-none text-dark" href="#">Physics</a><br />
        <a class="text-decoration-none text-dark" href="#">Biology</a>
      </div>
    </div>
    <div class="col-3">
      <div class="ms-3">
        <h4>About</h4>
        <ul>
          <li><a class="text-decoration-none text-dark" href="#">Our story</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Blog</a></li>
          <li><a class="text-decoration-none text-dark" href="#">FAQ</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>