<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Quizer - HomePage</title>
</head>
<body>
    <div>
        <div class="container text-center" style="margin-top: 200px; margin-bottom: 200px">
            <form method="post" action=""></form>
            <label for="input-name">Enter your name</label>
            <input id="input-name" placeholder="Type your name here">
            <button type="submit">Ready</button>
        </div>
    </div>
</body>
</html>