<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create a quiz</title>
</head>

<body>
    <h3 class="d-flex justify-content-center">Create New Quiz</h3>
    <div class="container">
      <form method="post" action="save" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Quiz Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter title here">
        </div>

        <div class="mb-3">
          <label for="question" class="form-label">Question</label>
          <input type="text" class="form-control" id="question" name="question" placeholder="Type your answer here">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Insert Media Here</label>
          <input class="form-control" type="file" id="image" name="image">
        </div>

        <div class="mb-3">
          <label for="answerA" class="form-label">Add Answer A</label>
          <input type="text" class="form-control" id="answerA" name="answerA" placeholder="Type your answer here">
        </div>

        <div class="mb-3">
          <label for="answerB" class="form-label">Add Answer B</label>
          <input type="text" class="form-control" id="answerB" name="answerB" placeholder="Type your answer here">
        </div>

        <div class="mb-3">
          <label for="answerC" class="form-label">Add Answer C</label>
          <input type="text" class="form-control" id="answerC" name="answerC" placeholder="Type your answer here">
        </div>

        <div class="mb-3">
          <label for="answerD" class="form-label">Add Answer D</label>
          <input type="text" class="form-control" id="answerD" name="answerD" placeholder="Type your question here">
        </div>

        <button type="submit">Create</button>

      </form>
    </div>
</body>

</html>